//content
$bodyBackground: rgba(198, 238, 252, 0.53);
$contentColor: #fff;
$width: 960px;
$margin: 0 auto;
$padding: 15px;
$contentBackground: #3b3b3b;


//p
$pColor:#fff;


//heading
$colorHeading:#FCCD10;
$headingTextAlign: center;

//images
$borderColor: #FCCD10;
$imgBorder: 2px;
$imgPadding: 2px;

// images left
$floatLeft: left;
$marginLeft: 0 15px 0 0;

// images right
$floatRight: right;
$marginRight: 0 0 0 15px;

// brief
$briefWidth: 100% ;
$briefPadding: 18px 10px 22px 20px;
$briefMargin: 0 15px 15px 0;
$briefFloat: left;
$briefBackground: #fff178;
$briefTextColor: #000000;

//a
$linksColor: #FCCD10;

// caption
$textAlign: right;
$captionColor: $briefTextColor;


//table
$borderCollapse: collapse;
$tableRegister: uppercase;
$thTextAlign: left;


//th

$thTextAlign: left;
$thBackground: #94a34e;

// td
$tableTdBackground: #677D01;
$tdBorder: 1px solid $thBackground;
$tdPadding: 10px 20px;


//form
$formWidth : 100%;
$marginForm : 8px 0;

//textarea
$textareaheight: 150px;

//label
$labelColor:#f5c70f;
$labelRegister : $tableRegister;

//button
$buttonBg : #3b3b3b;
$buttonColor: #f5c70f;
$buttonBorder : 2px solid $buttonColor;
$buttonWidth : 30%;
$buttonPadding : 16px 32px;
$buttonText: none;
$buttonMargin : 15px 0 0 0;
$buttonRegister:$labelRegister;
$buttonFont: 18px;
$buttonCursor: pointer;




//input .first
$inputFloat:left;
$inputWidthFirst: 49%;


//input .second
$inputMargin:1%;
$inputWidthSecond: 50%;